body {
	padding: 0;
}

.favorite {
	display: flex;
	align-items: center;
	font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
	cursor: pointer;
	
	svg {
		margin-right: 8px;
	}
}
